body {
    background-color: white;
}

.ad-div {
    overflow:auto;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #000;
    font-size: 1em;
    color: #01e0fe;
    padding: 5px 10px 5px 5px;
}

.ad-div img {
    border-radius: 10px;
}

.ad-div a {
    color: #01e0fe;
}

.ad-div h4 {
    padding: 0;
    margin: 15px 0 0;
}

.ad-div h5 {
    color: #FEC601;
}

.ad-div ul {
    color: #FEC601;
}

.ad-div ul b {
    color: #fff;
}

.post-content-preview {
    font-style: normal;
    color: #1A1A1A;
    padding-bottom: 10px;
    font-size: 1.1em;
}

.post-preview>.post-meta {
    font-style: normal;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.intro-header .post-heading .meta {
    font-style: normal;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: .9em;
}

header.container {
    background-color: rgba(0,0,0,.6);
}

.toc {
    margin: 1.5em 0;
    padding: 1em 1.5em;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.toc header h2 {
    margin: 0 0 0.75em 0;
    font-size: 1.1em;
}

#TableOfContents > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#TableOfContents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#TableOfContents li {
    margin: 0.25em 0;
}

#TableOfContents li li {
    margin-left: 1.25em;
}

#TableOfContents li li li {
    margin-left: 1.25em;
}

#TableOfContents a {
    color: #333;
    text-decoration: none;
}

#TableOfContents a:hover {
    color: #0066cc;
    text-decoration: underline;
}

.bookmarks {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/* Tighter spacing for post content */
.post-container p {
    margin: 1em 0;
}

.post-container p + p {
    margin-top: 1em;
}

.post-container ul,
.post-container ol {
    margin: 0.75em 0 1em 1.5em;
}

.post-container p + ul,
.post-container p + ol {
    margin-top: 0.5em;
}

.post-container ul + p,
.post-container ol + p {
    margin-top: 1em;
}


/* Code blocks */
.post-container pre {
    margin: 1em 0;
}

/* Headings in post content */
.post-container h2,
.post-container h3,
.post-container h4 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
