body {
    background-color: white;
}

.ad-div {
    overflow:auto;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #000;
    font-size: 1em;
    color: #01e0fe;
    padding: 5px 10px 5px 5px;
}

.ad-div img {
    border-radius: 10px;
}

.ad-div a {
    color: #01e0fe;
}

.ad-div h4 {
    padding: 0;
    margin: 15px 0 0;
}

.ad-div h5 {
    color: #FEC601;
}

.ad-div ul {
    color: #FEC601;
}

.ad-div ul b {
    color: #fff;
}

.post-content-preview {
    font-style: normal;
    color: #1A1A1A;
    padding-bottom: 10px;
    font-size: 1.1em;
}

.post-preview>.post-meta {
    font-style: normal;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.intro-header .post-heading .meta {
    font-style: normal;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: .9em;
}

header.container {
    background-color: rgba(0,0,0,.6);
}

.toc {
    margin-left: 0px;
    padding-left: 0px;
}

#TableOfContents>ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#TableOfContents>ul>li>ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.bookmarks {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
