{{ if .IsPage }}
{{ $desc := .Params.description | default .Summary | plainify | truncate 160 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title | htmlUnescape }}",
  "image": ["{{ .Params.twitter_image | absURL }}"],
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "Craig Johnston",
    "url": "https://imti.co/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "imti.co",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.sidebar_avatar | absURL }}"
    }
  },
  "description": "{{ $desc | htmlUnescape }}"
}
</script>
{{ end }}
