{{ if .IsPage }}
{{ $schema := dict
  "@context" "http://schema.org"
  "@type" "Article"
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "headline" .Title
  "image" (slice (.Params.twitter_image | absURL))
  "datePublished" (.PublishDate.Format "2006-01-02T15:04:05")
  "dateModified" (.PublishDate.Format "2006-01-02T15:04:05")
  "author" (dict "@type" "Person" "name" "Craig Johnston")
  "publisher" (dict "@type" "Organization" "name" "imti.co" "logo" (dict "@type" "ImageObject" "url" (.Site.Params.sidebar_avatar | absURL)))
  "description" .Summary
}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeHTML }}
</script>
{{ end }}
