<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "true";
    amzn_assoc_tracking_id = "imti-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "My Amazon Picks";
    amzn_assoc_linkid = "ca7b79a3ac487f34cc7689a34f61e82f";
    amzn_assoc_asins = "B0784RDFX5,B078NBZZBC,1788839048,1260115879";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>